.content {
  height: 65vh;
  width: 44vw;
  background-color: #b8fff9;
  margin-top: 32px;
  border: 3px solid grey;
  justify-content: center;
  border-radius: 20px;
  padding: 5px 5px;
  overflow: hidden;
  /* background-image: url("../img/unnamed\ \(3\).jpg"); */
  /* background-size:20%; */
  align-items: center;
  /* position: relative; */
}
.content div{
    text-decoration:underline;
    font-family: var(--font1);
    align-items: center;
    justify-content: center;
    margin: 0px 50px;
}
.contact-form::after{
  z-index: -1;
  height: inherit;
  content: "";
  /* background-image: url("../img/11.svg"); */
  position: absolute;
  top:0;
  width: 100%;
  opacity: 0.15;
  border-radius: 12px;
}
.content input{
  border-radius: 15px;
  border: 2px solid grey;
  padding: 3px 5px;
  margin: 5px;
}
.content textarea{
  border-radius: 15px;
  padding: 3px 5px;
  border: 2px solid grey;
  margin: 5px;

}