@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Roboto&display=swap");
:root {
  --main-bg-color: brown;
  --font1: "Baloo Bhai 2", cursive;
  --font2: "Roboto", sans-serif;
}
.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}
.max-width-1 {
  max-width: 80vw;
}

.max-width-2 {
  max-width: 60vw;
}
.max-height-1 {
  max-height: 200px;
}
.max-height-2 {
  max-height: 500px;
}
.m-auto {
  margin: auto;
}
.btn {
  padding: 0px 15px;
  border: 2px solid black;
  border-radius: 20px;
  font-size: 16px;
  font-family: var(--font1);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.btn:hover {
  color: white;
  background-color: grey;
}
.form-input {
  padding: 0px 11px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 13px;
  font-family: var(--font1);
}
